In [2]:
import pandas as pd
file_name = '../DATA/ratings_test.txt'
testDF = pd.read_table(file_name)

In [3]:
file_name = '../DATA/ratings_test.txt'

In [178]:
testDF = pd.read_table(file_name)
testDF.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [179]:
# 불필요한 컬럼 삭제
testDF.drop('id', axis='columns', inplace=True)

In [180]:
# 결측치 처리
print(f'결측치 확인 :\n{testDF.isna().sum()}\n')
testDF.dropna(inplace=True)

print(f'testDF = {testDF.shape}')

결측치 확인 :
document    3
label       0
dtype: int64

testDF = (49997, 2)

In [181]:
# 중복데이터 확인
print(f'중복데이터 확인 :\n{testDF.duplicated().sum()}\n')

# 중복데이터 제거
testDF = testDF.drop_duplicates()

중복데이터 확인 :
793

In [182]:
# 클래스 비율 확인
print(f'클래스 비율 확인 :\n{testDF["label"].value_counts()}')

클래스 비율 확인 :
label
1    24734
0    24470
Name: count, dtype: int64

In [183]:
testDF.head()

                                            document  label
0                                                굳 ㅋ      1
1                               GDNTOPCLASSINTHECLUB      0
2             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [184]:
testDF.tail()

                                             document  label
49995       오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996    의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997              그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999                                      마무리는 또 왜이래      0

In [185]:
# 피처와 레이블 분리
print(f'columns => {testDF.columns}')
documentDF = testDF.document.to_frame()
labelSR = testDF.label

print(f'documentDF => {documentDF.shape}, labelSR => {labelSR.shape}')

columns => Index(['document', 'label'], dtype='object')
documentDF => (49204, 1), labelSR => (49204,)

In [186]:
# 한글과 공백을 제외하고 모두 제거
hangul_pattern = "[^ㄱ-ㅎㅏ-ㅣ가-힣]" # 한글 Only
documentDF['document'] = documentDF['document'].str.replace(hangul_pattern, ' ', regex = True)
documentDF.head()

                                            document
0                                                굳 ㅋ
1
2             뭐야 이 평점들은     나쁘진 않지만   점 짜리는 더더욱 아니잖아
3                   지루하지는 않은데 완전 막장임    돈주고 보기에는
4    만 아니었어도 별 다섯 개 줬을텐데   왜   로 나와서 제 심기를 불편하게 하죠

In [187]:
documentDF.isnull().sum()

document    0
dtype: int64

In [188]:
documentDF['document'] = documentDF['document'].str.replace('^ +', '', regex = True)

In [189]:
documentDF = documentDF[documentDF['document'] != '']

In [190]:
documentDF['document'] = documentDF['document'].str.strip()

In [191]:
documentDF['document'] = documentDF['document'].str.replace('[^\w\s]', '', regex = True)

In [110]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [192]:
documentDF['document'] = documentDF['document'].str.replace('([ㄱ-ㅎㅏ-ㅣ]+)', '', regex = True)

In [ ]:
def remove_stopwords(text, stop_words_list):
    tokens = text.split(' ')
    meaningful_words = [w for w in tokens if not w in stop_words_list]
    return ' '.join(meaningful_words)

In [ ]:
stop_words_list = []
f = open('../DATA/hangul_stopword.txt', 'r')
stop_words_list = f.read().split('\n') + ['점']

In [193]:
documentDF['document'] = documentDF['document'].apply(lambda x : remove_stopwords(x, stop_words_list))

In [195]:
documentDF.reset_index(drop = True, inplace = True)

In [197]:
documentDF

                                             document
0                                                  굳
1                  뭐야 평점들은     나쁘진 않지만   짜리는 더더욱 아니잖아
2                        지루하지는 않은데 완전 막장임    돈주고 보기에는
3                만 아니었어도 별 개 줬을텐데     나와서 심기를 불편하게 하죠
4                                  음악이 주가 된  최고의 음악영화
...                                               ...
48886         오랜만에 평점 로긴했네 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함
48887            의지 박약들이나 하는거다 탈영은 주인공 김대희 닮았고 이등병 찐따
48888              그림도 좋고 완성도도 높았지만    보는 내내 불안하게 만든다
48889  절대 봐서는 안 될 영화   재미도 없고 기분만 잡치고   한 세트장에서 다 해먹네
48890                                        마무리는 왜이래

[48891 rows x 1 columns]

In [217]:
documentDF['document'].str.len() >= 2

0        True
1        True
2        True
3        True
4        True
         ...
48886    True
48887    True
48888    True
48889    True
48890    True
Name: document, Length: 48891, dtype: bool

In [218]:
documentDF['document'] = documentDF['document'].str.strip()

In [219]:
documentDF[documentDF['document'].str.len() >= 2]

                                             document
1                  뭐야 평점들은     나쁘진 않지만   짜리는 더더욱 아니잖아
2                        지루하지는 않은데 완전 막장임    돈주고 보기에는
3                만 아니었어도 별 개 줬을텐데     나와서 심기를 불편하게 하죠
4                                  음악이 주가 된  최고의 음악영화
5                                             진정한 쓰레기
...                                               ...
48886         오랜만에 평점 로긴했네 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함
48887            의지 박약들이나 하는거다 탈영은 주인공 김대희 닮았고 이등병 찐따
48888              그림도 좋고 완성도도 높았지만    보는 내내 불안하게 만든다
48889  절대 봐서는 안 될 영화   재미도 없고 기분만 잡치고   한 세트장에서 다 해먹네
48890                                        마무리는 왜이래

[48622 rows x 1 columns]

In [204]:
for ind in range(documentDF.shape[0]):
    if type(documentDF.loc[ind, 'document']) is float:
        print('float')

### 데이터 전처리 함수 <hr>

In [220]:
def remove_stopwords(text, stop_words_list):
    tokens = text.split(' ')
    meaningful_words = [w for w in tokens if not w in stop_words_list]
    return ' '.join(meaningful_words)

def sentence_refine(feature, file_name = '../DATA/ratings_test.txt', stop_word_file = '../DATA/hangul_stopword.txt'):
    f = open(stop_word_file, 'r')
    stop_words_list = f.read().split('\n') + ['점']
    f.close()
    df = pd.read_table(file_name) 
    df = df.drop_duplicates()
    df.dropna(inplace = True)
    df[feature] = df[feature].str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣]', ' ', regex = True)
    df[feature] = df[feature].str.replace('^ +', '', regex = True)
    df[feature] = df[feature].str.replace('[^\w\s]', '', regex = True)
    df[feature] = df[feature].str.replace('([ㄱ-ㅎㅏ-ㅣ]+)', '', regex = True)
    df[feature] = df[feature].replace(r'[{}]'.format(string.punctuation), '', regex=True)
    # df[feature] = df[feature].str.replace('[a-zA-Z]', '', regex = True)
    
    df[feature] = df[feature].apply(lambda x : remove_stopwords(x, stop_words_list))
    df = df[df[feature] != '']
    # df[feature] = documentDF[documentDF[feature].str.len() != 0].squeeze()
    df[feature] = df[feature].str.strip()
    df = df[df[feature].str.len() >= 2]
    df.reset_index(drop = True, inplace = True)
    
    for ind in range(df.shape[0]):
        if type(df.loc[ind, 'document']) is float:
            print('float')
    
    return df

In [221]:
sentence_refine('document')

            id                                        document  label
0      8544678              뭐야 평점들은     나쁘진 않지만   짜리는 더더욱 아니잖아      0
1      6825595                    지루하지는 않은데 완전 막장임    돈주고 보기에는      0
2      6723715            만 아니었어도 별 개 줬을텐데     나와서 심기를 불편하게 하죠      0
3      7898805                              음악이 주가 된  최고의 음악영화      1
4      6315043                                         진정한 쓰레기      0
...        ...                                             ...    ...
49132  4608761         오랜만에 평점 로긴했네 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49133  5308387            의지 박약들이나 하는거다 탈영은 주인공 김대희 닮았고 이등병 찐따      0
49134  9072549              그림도 좋고 완성도도 높았지만    보는 내내 불안하게 만든다      0
49135  5802125  절대 봐서는 안 될 영화   재미도 없고 기분만 잡치고   한 세트장에서 다 해먹네      0
49136  6070594                                        마무리는 왜이래      0

[49137 rows x 3 columns]